# Discord bot
DISCORD_BOT_TOKEN=
DISCORD_APP_ID=

# Authorization
SUPER_ADMINS=
AUTHORIZED_ROLES=

# Firebase
USE_FIREBASE_EMULATOR=false

# Hackathon
HACKATHON_CHANNEL_ID=
HACKATHON_API_HOST=127.0.0.1
HACKATHON_API_PORT=8000
HACKATHON_DB_PATH=./hackathon.db
HACKATHON_SPREADSHEET_ID=

# Logging
LOG_LEVEL=INFO
